/* Landing-section style */
.landing-section{width: 100%; height: auto;position: relative;max-width: max-content;}
.landing-section video{width: 100%;}
section .container{width: 100%; max-width: max-content;}
.swiper-button-next:after, .swiper-button-prev:after{color: #fff; font-size: 2rem;}

.swiper-pagination-bullet {
	width: 0px;
	height: 4px;
	border-radius: 0;
	position: relative;
	overflow: hidden;
}

.swiper-pagination-bullet-active {
background: var(--color-og);
animation: slide-progress 37s forwards;
position: absolute;
left: 0;
bottom: 0;
}

@keyframes slide-progress {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}


/* Meet section style */
.meet-section .container{width: 100%; height: 100%;  padding: var(--el-small) var(--el-wide);border: none; display: flex; margin: auto; justify-content: center; align-items: center; }
.meet-section .icon-box{width: 354px;height: 354px; display: flex; flex-direction: column; justify-content: center; align-items: center;background: #1D1D1D;margin: var(--el-wide); margin-top: var(--el-main); transition: all .2s;}

.meet-section .icon-box i{font-size: 60px; cursor: pointer;}
.meet-section .icon-box:hover{color: var(--color-og); box-shadow: 0px 8px 30px #FF961C; }
.meet-section .icon-box span{font-size: 20px; font-weight: 600;line-height: 3;}
.meet-section .icon-box p{font-size: 16px; font-weight: 600; text-align: center;width: 300px;}

/* Introduce section style */
.intro-section{width: 60%;}
.intro-section .container{width: 100%; height: auto; display: flex; justify-content: center; align-items: center;flex-direction: column;margin: var(--el-main) 0;}

.intro-section .container>p{font-size: 16px; font-weight: 400; line-height: 32px;margin-top: 60px;text-align: center;}
button, input, textarea{color: #fff; border:none;background: none;font-size: 16px;}
.intro-section .btn{margin-top: 60px; transition: all .4s;}
.intro-section .btn:hover{background: var(--color-og);}


/* MV section style */
.mv-section .container{width: 100%; height: auto;}
.mv-section .img-container{position: relative; transition: all .5s;}

.mv-section .mv-text{position: absolute;width: 100%; left: 50%; top: 50%;transform: translate(-50%, -50%);display: flex; flex-direction: column; justify-content: center; align-items: center;height: 100%;}
.mv-section a{ color: var(--color-og); font-size: 80px;}
.mv-section em{font-size: 60px; font-weight: 600; transition: all 0.4;}

.mv-section .img-container:hover .mv-text{background: rgba(255, 255, 255, .5);}
.mv-section .img-container:hover .mv-text em{color: #333;}

/* Play section style */
.play-section{width: 100%;display: flex;align-items: center;justify-content: center; flex-direction: column;margin-top: var(--el-main);}
.play-section .container{width: 100%; height: auto; margin: var(--el-main) 0;text-align: center;}
.play-section .text-box{display: flex; justify-content: center; align-items: center;flex-direction: column;}

.play-section .song-boxes{display: flex; justify-content: center; align-items: center; margin: auto;margin-top: var(--el-main);flex-wrap: wrap;}

.play-section .song-box{padding: var(--el-small); margin-bottom: var(--el-wide); overflow: hidden;}
.song-box .song-img-wrapper{overflow: hidden; transition: all .5s linear;}
.play-section .song-box img{width: 360px; height: 360px; display: flex; align-items: center; justify-content: center; transition: all .5s ;  }
.song-img-wrapper:hover img{transform: scale(1.1);  transition: all .5s ;}

.play-section .song-box p{font-size: 20px; font-weight: 600;padding: var(--el-small) 0;}
.play-section .song-box span{color: #fff;font-size: 18px;}
.play-section .song-box i{font-size: 20px;margin-left: .5rem;}
.play-section .song-box i:hover{color: var(--color-og);}

/* Album section style */
.album-section .container{width: 100%; height: auto;}
.album-section .img-container{position: relative;}
.album-section .album-text{position: absolute;width: 100%; top: 50%;transform: translateY(-50%);display: flex; flex-direction: column; justify-content: center; align-items: flex-start;left: var(--el-wide);}

.album-section span{font-size: 20px; color: var(--color-og);font-weight: 600;}
.album-section em{font-size: 50px; font-weight: 600;margin:20px 0;}
.album-section .btn{background: #fff;border: 2px solid var(--color-og); cursor: pointer; transition: all .4s; }
.album-section .btn a{width: 100%; height: auto;}
.album-section button{font-size: 16px; color: var(--color-og); cursor: pointer;width: 100%;}
.album-section .btn:hover{background: var(--color-og);}
.album-section .btn:hover button{color: #fff;}

/* Score section style */
.score-section .container{width: 100%; height: auto;}
.score-section .img-container{position: relative;}
.score-section .score-text-box{position: absolute;width: 100%; top: 50%; left:50%; transform: translate(-50%, -50%);display: flex;justify-content: space-between; align-items: center; padding: 0 15rem; }
.score-section .score-text{text-align: center; }
.score-section .score-icon i{font-size: 55px;}
.score-section .score-text span{font-size: 50px; font-weight: 600;}
.score-section .score-text p{font-size: 20px; font-weight: 400;}

.score-section .score-text:hover{color: var(--color-og); scale: 1.1;}


/* Schedule section style */
.scd-section{width: 100%;display: flex;align-items: center;justify-content: center; flex-direction: column;margin-top: var(--el-main);}
.scd-section .container{width: 100%; height: auto; margin: var(--el-main) 0;text-align: center; position: relative;}
.scd-section .swiper{overflow: hidden; position: relative; width: 90%; display: flex; justify-content: center; align-items: center; margin: auto;}

.scd-section .scd-boxes{margin: auto;margin-top: var(--el-main); _margin-left: var(--el-small);display: flex;}
.scd-section .scd-box{padding: var(--el-small); margin-bottom: var(--el-wide); display: flex; flex-direction: column; justify-content: center; align-items: start;text-align: start;}

.scd-section .swiper-slide img{width: 100%; height: auto; overflow: hidden;display: flex; align-items: center; justify-content: center;}
.scd-section .swiper-slide p{font-size: 20px; font-weight: 600;padding: var(--el-small) 0;}
.scd-section .swiper-slide span{color: #fff;font-size: 18px; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 3; -webkit-box-orient: vertical; word-break: keep-all; overflow: hidden; }
.scd-section .swiper-slide i{font-size: 20px;margin-right: .5rem;}
.scd-section .swiper-slide em{font-size: 20px; color: var(--color-og);display: flex;align-items: center;}

.scd-section .slider-nav-wrapper{position: absolute; width: 110%; height: auto; top: 55%; left: 50%; transform: translate(-50%, -50%); z-index: 10;}

@media screen and (max-width:1680px){
  .scd-section .slider-nav-wrapper{width: 105%;}
}


/* Image slider section style */
.img-boxes{margin-top: var(--el-main);}
.img-boxes .img-box{width: 190px; height: 190px; }
.img-boxes .img-box img{width: 100%;object-fit: cover; height: 100%;}

/* Contact section style */
.info-section{width: 100%;margin-top: var(--el-main);padding: 0 var(--el-wide);}
.info-section .container{display: flex;justify-content: center; }
.info-section .info-box{width: 25%;}


.info-section .info-box h3{font-size: 24px; font-weight: 600; margin-bottom: var(--el-small);}
.info-section .info-box h3:hover{color: var(--color-og);}
.info-section .info-box li, .info-box p{font-size: 16px; font-weight: 200; width: 250px; line-height: 1.5; margin-top: var(--el-small) 0;}
.info-section .info-box li:hover{color: var(--color-og); font-weight: 400;}
.info-section .info-box i{font-size: 18px; color: #fff; margin-right: var(--el-small); }
.info-section .info-box i:hover{color: var(--color-og);}
.info-box .sns{margin-top: var(--el-wide);}

.info-box .btn{border: 2px solid var(--color-og); cursor: pointer;font-size: 16px; font-weight: 600;}
.info-box .btn:hover{background:var(--color-og); color: #fff;}
.form .email{border: 1px solid #666666; width: 300px; height: 50px;margin-bottom: var(--el-small);padding: var(--el-small);}
.form .message{border: 1px solid #666666; width: 300px; height: 170px; padding: var(--el-small); margin-bottom: var(--el-small);}

.form input{font-size: 18px; font-weight: 400; color: #666666;}

.info-box .info-title{display: flex; justify-content: space-between; align-items: center;}
.info-box .info-title i{font-size: 25px; display: none;}



/* top btn */
.arrowBtn{transition: all 0.1s;}
.arrowBtn button{border: 2px solid #fff; background: none; font-size: 20px; width: 35px;height: 35px; display: flex; align-items: center; justify-content: center; position: fixed; bottom: 40px; right: 40px;font-weight: 600; color: #fff; z-index: 10000; cursor: pointer;}
.arrowBtn i{padding: .25rem;}
#top button{bottom: 80px;}

.arrowBtn button:hover{color: var(--color-og); border: 2px solid var(--color-og);}

